<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <title>Inspiration behind</title>
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
    <h1>About this recipe blog</h1>
    <p>
      hi there! I'm <strong>Cristina</strong> I'm a student at CODE University
      and i'm persuing my Bachelor's on Software Engineering.
    </p>
    <p>
      I wanted to make this website a bit fun and I styled some text it with
      inspiration from <em>The Sims</em>.
    </p>
    <p>Dag Dag!</p>
    <ul>
      <li><a href="/">Click here to go back home page!</a></li>
      <li>
        <a href="/seasonal-recipes">Click here to check out special recipes!</a>
      </li>
    </ul>
  </body>
</html>
