<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <title>wisk 'n whish recipe book</title>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <h1>Welcome to my recipe book</h1>
    <h2>
      Hi, I'm <strong>Cristina</strong>! This is my little corner where I save
      my favorite recipes. Think of it as my
      <em>"stats.set_skill_level major_cooking 10"</em> cheat for real life! (if
      you know you know)
    </h2>
    <p>
      Below you will find cozy meals, seasonal favorites, and some personal
      notes from me!
    </p>
    <ul>
      <li><a href="/about">What is the inspiration behind?</a></li>
      <li><a href="/seasonal-recipes">Seasonal Recipes</a></li>
    </ul>
  </body>
</html>
